*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

p {
    margin: 0;
}

.sidebar>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.content>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.showBtn {
    margin: 0 10px 0 0;
}
