*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 20px;
    font-family: Roboto;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
}

.sidebar {
    padding: 0;
    background-color: lightblue;
}

.sidebar>div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.sidebar>div>button {
    border: 0;
    color: darkblue;
    background-color: lightblue;
    padding: 15px;
}

.sidebar>div>button:hover {
    color: royalblue;
    cursor: pointer;
}

.sidebar>div>:nth-last-child(2) {
    text-decoration: underline;
}

.addDialog>form {}

.content {
    padding: 10px;
}

.content>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.showBtn {
    margin: 0 1rem;
}
